.preview {
  flex-basis: 50%;
  background-color: aliceblue;
}
.title {
  text-align: center;
}
.list {
  width: 100%;
  height: 100%;
  padding: 1rem 2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
